:root {
    --bg-gr: #ababab;
    --bg-pu: #9fa7e4;
    --bg-ye: #feef4d;
}

html,
body {
    background: var(--bg-gr);
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 10px;
    font-size: 3em;
    font-family: 'Architects Daughter', cursive;
}

h2 {
    margin: 0;
    padding: 0;
}

#head {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#root {
    display: flex;
    justify-content: center;
}

#board {
    background: var(--bg-pu);
    border: 3px solid black;
    border-color: black;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    /* The Golden Ratio */
    height: 600px;
    width: 800px;
}

.score-board {
    color: orange;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
}

.score {
    font-size: 14px;
}

.number {
    font-size: 30px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu > div {
    margin: 10px;
}

#pig {
    position: absolute;
    width: 150px;
    height: 150px;
}

#coin {
    display: none;
}

.coin {
    position: absolute;
    height: 40px;
    width: 40px;
}

.coin svg {
    height: 40px;
    width: 40px;
}

#bomb {
    display: none;
}

.bomb {
    position: absolute;
    height: 80px;
    width: 80px;
}

.bomb svg {
    height: 80px;
    width: 80px;
}

.jiggle {
    animation: shake 0.82s cubic-bezier(0.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 100px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0) scale(0.99);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0) scale (1.01);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0) scale(0.98);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

#explosion {
    display: none;
}

#explosion.isExploded {
    display: block;
}

.explosion {
    position: absolute;
    bottom: -20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.explosion svg {
    height: 100%;
    width: 100%;
}

#instructions-window {
    display: none;
}

#instructions-window.isDisplayed {
    display: block;
    background: var(--bg-ye);
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Architects Daughter', cursive;
    padding: 10px;
    text-align: center;
    height: 350px;
    width: 350px;
    z-index: 1;
}

#music-playing {
    display: none;
}

.isPlaying #music-playing {
    display: block;
    height: 50px;
    width: 50px;
}

.isPlaying #music-muted {
    display: none;
}

#music-muted {
    display: block;
    height: 50px;
    width: 50px;
}

#play {
    display: none;
}

.isPaused #play {
    display: block;
    height: 50px;
    width: 50px;
}

.isPaused #pause {
    display: none;
}

#pause {
    display: block;
    height: 50px;
    width: 50px;
}



/* 
Positions:
    Static
    Relative: can be positioned relative to where it would be statically, 
    Absolute: positions something absolutely against the nearest positioned parent element,
    Fixed: always relative to the window, doesn't change if you scroll, like NavBars
*/