:root {
    --bg-gr: #ababab;
    --bg-pu: #9fa7e4;
}

html,
body {
    background: var(--bg-pu);
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#board {
    border: 3px;
    border-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#music {
    position: absolute;
}


#pig {
    position: absolute;
    width: 200px;
    height: 200px;
}

#coin {
    display: none;
}

.coin {
    position: absolute;
    height: 40px;
    width: 40x;
}

.coin svg {
    height: 40px;
    width: 40px;
}

#bomb {
    display: none;
}

.bomb {
    position: absolute;
    height: 100px;
    width: 100x;
}

.bomb svg {
    height: 100px;
    width: 100px;
}

.jiggle {
    animation: shake 0.82s cubic-bezier(0.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 100px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0) scale(0.99);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0) scale (1.01);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0) scale(0.98);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.score-board {
    position: absolute;
    right: 5%;
    border: 3px solid black;
    color: black;
    font-size: 25px;
    margin: 20px auto;
    padding: 5px 5px;
    text-align: center;
    width: 120px;
    font-family: sans-serif;
}

.badge {
    font-size: 18px;
}

.number {
    font-size: 18px;
}

#explosion {
    display: none;
}

#explosion.isExploded {
    display: block;
}

.explosion {
    position: absolute;
    bottom: -20px;
    top: 0;
    left: 0;
    right: 0;
}

.explosion svg {
    height: 100%;
    width: 100%;
}

#pause {
    display: none;
}

#pause.isPaused {
    display: block;
}

.pause {
    position: absolute;
}

/* positions:
static
relative (can be positioned relative to where it would be statically), 
absolute (positions something absolutely against the nearest positioned parent element),
fixed (always relative to the window, doesn't change if you scroll, like NavBars),
*/